body {
  background-color: #33ff00;
}

table {
  margin: auto;
  border-collapse: collapse;
}
tr {
  text-align: center;
  /*set background color*/
  background: rgb(43, 8, 243);
}
td {
  padding: 3px;
  /*set text color*/
  color: #efff0d;
  /*set border parameters*/
  border: 3px solid rgb(209, 72, 8);
}
