body {
  background-color: #33ff00;
}

table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  text-align: center;
  /*set background color*/
  background: rgb(43, 8, 243);
}
td {
  padding: 5px;
  /*set text color*/
  color: #efff0d;
  /*set border parameters*/
  border: 2px solid rgb(187, 4, 74);
}
